@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@font-face {
  font-family: 'Round8';
  src: url('/fonts/Round8.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gnomon';
  src: url('/fonts/gnomon.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-spartan {
  font-family: 'League Spartan', sans-serif;
}
