:root {
  --gumroad-green: #b1c29e;
  --gumroad-yellow: #fada7a;
  --gumroad-pink: #e6b2ba;

  --color-primary: var(--gumroad-green);
  --color-secondary: var(--gumroad-yellow);
  --color-accent: var(--gumroad-pink);

  --bg-gumroad-green: var(--gumroad-green);
  --bg-gumroad-yellow: var(--gumroad-yellow);
  --bg-gumroad-pink: var(--gumroad-pink);
}
